UsabilityExperiment1.xcodeproj/project.xcworkspace/xcuserdata/Sergey.xcuserdatad/UserInterfaceState.xcuserstate
UsabilityExperiment1.xcodeproj/xcuserdata/Sergey.xcuserdatad/xcschemes/UsabilityExperiment1.xcscheme
UsabilityExperiment1.xcodeproj/xcuserdata/Sergey.xcuserdatad/xcschemes/xcschememanagement.plist
